*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail
/database/*.sqlite

.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json

/.fleet
/.idea
/.nova
/.vscode
/.zed
Homestead.json
Homestead.yaml
